/* CSS Document */
* {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif
	}
body, html {
	height:100%;
	width:100%;
	margin:0px;
	padding: 0px;
	}
header {
	background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#37DBFF), to(#1B4E64));
	color:#FDF6F6; 
    font-size:46px
	}
#middle {
	height:80%;
	display: -webkit-flex;
	display:			 flex;
	flex-flow: row;
	}
#middle section { 
	border: medium; border:#000000; 
	margin-top:0px; 
	border-radius: 5px;
	flex: 3 1 50%;
	order: 2
	}

#middle nav {
	flex: 1 6 25%;
	order: 1;
	border:outset 6px #0764b5;
	-moz-border-radius-topleft: 0px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:56px;
-moz-border-radius-bottomright:56px;
-webkit-border-top-left-radius:0px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:56px;
-webkit-border-bottom-right-radius:56px;
border-top-left-radius:0px;
border-top-right-radius:5px;
border-bottom-left-radius:56px;
border-bottom-right-radius:56px;}

#middle header { 
	background: #0764b5;
	color:#FFFFFF; 
	font-size:24px; 
	padding: 5px;
	}


ul {float: left; padding-left:20px; width: 21%}

li { color:#FFFFFF; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;background-color: #0764b5; width: 150px; height: 20px; margin-top:20px; padding-left: 2px; -moz-box-shadow:10px 10px 5px #000000;
-webkit-box-shadow:10px 10px 5px #000000;
box-shadow:10px 10px 5px #000000 }

#middle aside {
	border:outset 6px #0764b5;
	flex: 1 6 25%;
	order:3;
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:56px;
-moz-border-radius-bottomright:56px;
-webkit-border-top-left-radius:0px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:56px;
-webkit-border-bottom-right-radius:56px;
border-top-left-radius:0px;
border-top-right-radius:5px;
border-bottom-left-radius:56px;
border-bottom-right-radius:56px;}



article {
	height:80%;
	padding: 4px;
	text-align:justify;
	margin-left: 4px;
	margin-right: 2px
	}

footer { 
	height:12%; 
	background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#37DBFF), to(#1B4E64));
	color:#FDF6F6; 
    font-size:24px
	}
#middle footer {
	background: #0764b5;
	color:#FFFFFF; 
	font-size:24px;
	}




