/***************************************************
********************        ***********************
******************** HEADER ***********************
********************        ***********************
***************************************************/

/* Hacemos la tipografía más pequeña para que cuadre todo mejor */

header h1{
    font-size: 70px;
    padding-bottom: 10px;
}

header h2{
    font-size: 18px;
    letter-spacing: 12px;
}

/***************************************************
*******************           **********************
*******************  GALERIA  **********************
*******************           **********************
***************************************************/

/* Hacemos la galería vertical y no flotante, de manera
    que todo quede en una sóla columna */

#galeria, #CV{
    clear: both;
    width: 100%;
}

#galeria {
    margin-bottom: 40px;
}

#itemsGaleria {
    flex-flow: row nowrap;
}

div.item {
    width: 20%;
    margin: 0 2% 2% 2%;
}

/***************************************************
*******************           **********************
*******************    C V    **********************
*******************           **********************
***************************************************/

/* Eliminamos las dos columnas del texto y centramos el texto */

#CV h2{
    text-align: center;
}

#textoCV {
    -moz-column-count: 1;
    -webkit-column-count: 1;
}

#textoCV ul{
    margin-bottom: 20px;
}
