/***************************************************
********************         ***********************
******************** GENERAL ***********************
********************         ***********************
****************************************************/

.clear{
    clear: both;
}

body{
    background: white;
    color: black;
    line-height: 1.5em;
    font-family: 'Merriweather', serif;
}

#wrapper {
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 60px;
    position: relative;
}

/***************************************************
 ********************        ***********************
 ******************** HEADER ***********************
 ********************        ***********************
 ***************************************************/

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;

    margin: 20px 0;
    font-family: 'Vollkorn', serif;
    line-height: 2em;

    color: #345678;
}

header>img {
    order: 1;

    width: 25%;
    min-width: 220px;
    min-height: 220px;
    border-radius: 50%;
    margin-right: 15px;
}

#titulo{
    order: 2;
}

header h1{
    font-size: 90px;
    padding-bottom: 15px;
    font-variant: small-caps;
    text-align: center;
}

header h2{
    padding-left: 14px;
    text-align: left;
    font-size: 21px;
    letter-spacing: 21px;
    color: black;
    border-top: 1px solid #ccc;
}

/***************************************************
*******************          ***********************
******************* CONTACTO ***********************
*******************          ***********************
***************************************************/

#contacto {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 60px;
}

#contacto>ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 30px;
}

#contacto li{
}

#contacto a {
    display: block;
    text-align: center;
    line-height: 2em;
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin-bottom: -2px;
    border-bottom: 2px solid white;
}

#contacto a:hover {
    color: #456789;
    border-color: #345678;

    -webkit-transition: color 500ms, border-color 1s;
    -moz-transition: color 500ms, border-color 1s;
    -o-transition: color 500ms, border-color 1s;
    -ms-transition: color 500ms, border-color 1s;
    transition: color 500ms, border-color 1s;
}

/***************************************************
*******************           **********************
*******************  GALERIA  **********************
*******************           **********************
***************************************************/

#galeria{
    width: 20%;
    float: left;
}

#galeria h2, #CV h2{
    border-bottom: 1px solid #ccc;
    text-variant: small-caps;
    font-family: 'Vollkorn', serif;
    text-align: center;
    font-size: 35px;
    margin: 0 0 20px 0;
    padding-bottom: 5px;
    color: #345678;
}

#itemsGaleria {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

div.item {
    width: 70%;
    margin-top: 20px;
}

.itemObject{
    width: 100%;
    border-radius: 50%;
    opacity: 0.4;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
}

.itemObject:hover {
    opacity: 1.0;
}

/***************************************************
*******************           **********************
*******************    C V    **********************
*******************           **********************
***************************************************/

#CV{
    width: 75%;
    float: right;
}

#CV h2{
    text-align: right;

}

#textoCV{
    -moz-column-count: 2;
    -moz-column-gap: 50px;
    -webkit-column-count: 2;
    -webkit-column-gap: 50px;
    text-align: justify;
}

#textoCV p {
    margin-bottom: 30px;
    text-indent: 2em;
}

#textoCV h3 {
    font-family: 'Vollkorn', serif;
    font-style: italic;
    color: #456789;
    font-size: 25px;
    text-align: center;
    margin: 0 auto 15px auto;
    border-bottom: 1px solid #ccc;
    width: 70%;
}

#textoCV li{
    padding-left: 2em;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 80px -45px;
}

.nivel5{
    background-image: url(../DATA/nivel5.svg);
}
.nivel4{
    background-image: url(../DATA/nivel4.svg);
}
.nivel3{
    background-image: url(../DATA/nivel3.svg);
}

/***************************************************
*******************           **********************
*******************   FOOTER  **********************
*******************           **********************
***************************************************/

footer{
    width: 100%;
    text-align: center;
    margin-bottom:10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-size: 15px;
    font-style: italic;
}

footer>img{
    height: 1.5em;
    vertical-align: middle;
}
