/***************************************************
********************         ***********************
******************** GENERAL ***********************
********************         ***********************
****************************************************/

/* Aumentamos el ancho de todo el cuerpo */

#wrapper{
    max-width: 85%;
}

/***************************************************
********************        ***********************
******************** HEADER ***********************
********************        ***********************
***************************************************/

/* Apilamos fotografía y título, para que quepa todo a lo ancho */

header {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

header>img{
    margin-bottom: 20px;
}

/***************************************************
*******************           **********************
*******************  GALERIA  **********************
*******************           **********************
***************************************************/

/* Como en un móvil no suele haber hover, aumentamos la opacidad para que se vea todo mejor */

.itemObject{
    opacity: 0.8;
}
