#wrapper{
    margin-bottom: 20px;
}

#itemsGaleria {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

div.item {
    width: 60%;
}

#CV{
	margin-bottom: 290px;
}

#textoCV li{
	margin: 0;
    width: 100%;
    clear: both;
}

#CV h2 span{
    display: none;
}

#contacto{
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
    border: none;
}

#contacto>ul{
    flex-flow: column nowrap;
}

#contacto>ul>li{
    width: 100%;
	margin: 5px 0;
}

#contacto a {
	font-size: 20px;
    color: white;
    position: relative;
    top: -4px;
    border-radius: 10px;
    background: #456789;
    border: 1px solid white;
}

#contacto a:hover {
    border: 1px solid #456789;
    color: #456789;
    background: white;

    -webkit-transition: color 500ms, background 500ms;
    -moz-transition: color 500ms, background 500ms;
    -o-transition: color 500ms, background 500ms;
    -ms-transition: color 500ms, background 500ms;
    transition: color 500ms, background 500ms;
}
