/*
  == INFORMACION: ==============================================================
  Author: Laegnur
  Version: 0.2.4
  License: GNU General Public License v2 or later
  License URI: http://www.gnu.org/licenses/gpl-2.0.html
  ==============================================================================
*/

/*
   == Indice ===================================================================
   1.- FONT-FACE
   2.- HTML
   3.- CAIXA
   4.- NAV
   5.- HEADER
   6.- SECTION
   7.- IFRAME
   8.- MEDIA
   9.- FOOTER
   =============================================================================
*/

/*
  == FONT-FACE =================================================================
*/

@font-face
{
  font-family: Nimbus Sans L;
  src: url('../fonts/Nimbus_Sans_L_Regular.eot');
  src: local('Nimbus Sans L'),
    url('../fonts/Nimbus_Sans_L_Regular.eot') format('embedded-opentype'),
    url('../fonts/Nimbus_Sans_L_Regular.woff') format('woff'),
    url('../fonts/Nimbus_Sans_L_Regular.ttf') format('truetype'),
    url('../fonts/Nimbus_Sans_L_Regular.otf') format('opentype'),
    url('../fonts/Nimbus_Sans_L_Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face
{
  font-family: linecons;
  src: url('../fonts/linecons_Regular.eot');
  src: local('linecons'),
    url('../fonts/linecons_Regular.eot') format('embedded-opentype'),
    url('../fonts/linecons_Regular.woff') format('woff'),
    url('../fonts/linecons_Regular.ttf') format('truetype'),
    url('../fonts/linecons_Regular.otf') format('opentype'),
    url('../fonts/linecons_Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before
{
  display: inline-block;

  width: 1rem; /* 16px */

  margin: 0.625rem; /* 10px */

  font-family: 'linecons', sans-serif;
  font-size: 1.5rem; /* 24px */ 
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1rem;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(127, 127, 127, 0.3); /* 1px */
}

.icon-music:before { content: '\e022'; }
.icon-search:before { content: '\e009'; }
.icon-mail:before { content: '\e019'; }
.icon-heart:before { content: '\e000'; }
.icon-star:before { content: '\e002'; }
.icon-user:before { content: '\e007'; }
.icon-videocam:before { content: '\e005'; }
.icon-camera:before { content: '\e00b'; }
.icon-photo:before { content: '\e01b'; }
.icon-attach:before { content: '\e029'; }
.icon-lock:before { content: '\e00d'; }
.icon-eye:before { content: '\e013'; }
.icon-tag:before { content: '\e00c'; }
.icon-thumbs-up:before { content: '\e01a'; }
.icon-pencil:before { content: '\e00f'; }
.icon-comment:before { content: '\e014'; }
.icon-location:before { content: '\e012'; }
.icon-cup:before { content: '\e016'; }
.icon-trash:before { content: '\e006'; }
.icon-doc:before { content: '\e018'; }
.icon-note:before { content: '\e01c'; }
.icon-cog:before { content: '\e00a'; }
.icon-params:before { content: '\e01f'; }
.icon-calendar:before { content: '\e02b'; }
.icon-sound:before { content: '\e004'; }
.icon-clock:before { content: '\e01d'; }
.icon-lightbulb:before { content: '\e00e'; }
.icon-tv:before { content: '\e003'; }
.icon-desktop:before { content: '\e011'; }
.icon-mobile:before { content: '\e017'; }
.icon-cd:before { content: '\e02d'; }
.icon-inbox:before { content: '\e015'; }
.icon-globe:before { content: '\e02f'; }
.icon-cloud:before { content: '\e001'; }
.icon-paper-plane:before { content: '\e01e'; }
.icon-fire:before { content: '\e028'; }
.icon-graduation-cap:before { content: '\e024'; }
.icon-megaphone:before { content: '\e023'; }
.icon-database:before { content: '\e021'; }
.icon-key:before { content: '\e008'; }
.icon-beaker:before { content: '\e025'; }
.icon-truck:before { content: '\e02e'; }
.icon-money:before { content: '\e020'; }
.icon-food:before { content: '\e026'; }
.icon-shop:before { content: '\e02a'; }
.icon-diamond:before { content: '\e010'; }
.icon-t-shirt:before { content: '\e027'; }
.icon-wallet:before { content: '\e02c'; }

/*
  == HTML ======================================================================
*/

html
{
  overflow-y: scroll;

  font-size: 16px;
}

body
{
  color: #4d4c4c;
  font-family: Nimbus Sans L, sans-serif;
  font-size: 0.75rem; /* 14px */
  font-weight: normal;

  background-image: url("../images/ca_background_blue.jpg");
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-color: #FFFFFF;
}

a
{
  text-decoration: none;
  color: #884488;

  background-color: inherit;
}

h1, h2, h3, h4, h5, h6
{
  margin: 0 0 0.9375rem 0; /* 15px */ 

  color: #336699;
  font-weight: bold;
  letter-spacing: -0.0625rem; /* -1px */
}

h1
{
  font-size: 2rem; /* 32px */
}

h2
{
  font-size: 1.5rem; /* 24px */
}

h3
{
  font-size: 1.25rem; /* 20px */
}
h4
{
  font-size: 1rem; /* 16px */
}

p
{
  margin: 0 0 0.9375rem 0; /* 15px */ 

  line-height: 1.5;
}

.esquerda
{
  float: left
}

.dereita
{
  float: right;
}

.clear
{
  clear: both;
}


/*
  == CAIXA =====================================================================
*/

#caixa
{
  position: relative;

  margin: 0 auto;
}

@media only screen and (min-width: 769px)
{
  #caixa
  {
    width: 46.875rem; /* 750px */
  }
}

@media only screen and (max-width: 768px)
{
  #caixa
  {
    width: 100%;
  }
}
/*
  == NAV =======================================================================
*/

nav
{
  position: fixed;
}

nav label.boton_menu
{
  display: none;

  padding: 0.625rem 0; /* 10px */

  text-align: center;
  text-decoration: none;
  
  background: none repeat scroll 0% 0% #FFFFCB;
}

nav input[type="checkbox"]
{
  display: none;
}

nav input[type=checkbox]:checked ~ #menu
{
  display: block;
}

nav ul
{
  border: 0.0625rem solid #99c; /* 1px */

  background: #FFFFCB;

  border-bottom-right-radius: 1.125rem; /* 18px */
  border-bottom-left-radius: 1.125rem; /* 18px */
 -webkit-border-bottom-left-radius: 1.125rem; /* 18px */
 -webkit-border-bottom-right-radius: 1.125rem; /* 18px */

  list-style: none;
}

nav ul li
{
  font-size: 0.875rem; /* 14px */
  text-align: right;
}

nav ul li a
{
  display: block;

  padding: 0.625rem 1.875rem 0.625rem 0.3125rem; /* 10px 30px 5px */

  border-top: 0.0625rem solid rgba(0,0,0,0.2); /* 1px */
  border-bottom: 0.0625rem solid rgba(255,255,255,0.2); /* 1px */

  color: #444444;
  font-weight: bold; 
  text-shadow: 0.0625rem 0.0625rem 0.0625rem #FFFFFF; /* 1px */
}

nav ul li:first-child a
{
  border-top: 0;
}

nav ul li:last-child a
{
  border-bottom: 0;
}

nav ul li a:hover
{
  background: rgba(0,0,0,0.07);
}

nav ul li a.activa
{
  position: relative;
  z-index: 1;

  border-top-color: #FFFFFF;  
  border-bottom-color: #FFFFFF;

  background-color: #FFFFFF;
}

nav ul li a.activa:hover
{
  background-color: #FFFFFF;
}

@media only screen and (min-width: 769px)
{
  nav ul
  {
    width: 11.9375rem; /* 191px */

    padding: 6.25rem 0 6.25rem 0; /* 100px */
  }
}

@media only screen and (max-width: 768px)
{
  nav
  {
    position: static;
    width: 100%;

    border: 0;
  }

  nav label.boton_menu
  {
    display: block;
    
    border: 0.0625rem solid #99c; /* 1px */
  
    border-bottom-right-radius: 1.125rem; /* 18px */
    border-bottom-left-radius: 1.125rem; /* 18px */
   -webkit-border-bottom-left-radius: 1.125rem; /* 18px */
   -webkit-border-bottom-right-radius: 1.125rem; /* 18px */
    
  }

  nav input[type="checkbox"]
  {
    display: none;
  }

  nav ul
  {
    display: none;

    border-top-right-radius: 1.125rem; /* 18px */
    border-top-left-radius: 1.125rem; /* 18px */
   -webkit-top-bottom-left-radius: 1.125rem; /* 18px */
   -webkit-top-bottom-right-radius: 1.125rem; /* 18px */
  }

  nav ul li
  {
    text-align: center;
  }

  nav ul li a
  {
    padding: 0;
  }
}

/*
  == HEADER ====================================================================
*/

header h1
{
  color: #884488;
}

header h1 a span
{
  position: relative;
  top: -0.375rem; /* -6px */

  padding: 0.1875rem 0.5rem; /* 3px 8px */

  color: #884488;
  font-size: 1.25rem; /* 20px */
  font-weight: normal;
  letter-spacing: 0;

  background: #9999CC;

  border-radius: 0.25em; /* 4px */
  -webkit-border-radius: 0.25em; /* 4px */
}

header h1 a:hover span:after
{
  position: relative;
  bottom: 0.125rem; /* 2px */

  font-size: 0.6875rem; /* 11px; */

  content: " Descargar CV!";
}

@media only screen and (min-width: 769px)
{
  header h1
  {
    padding: 1.125rem 0 1.125rem 13.125rem; /* 18px 210px */
  }
}

@media only screen and (max-width: 768px)
{
  header h1
  {
    padding: 1.125rem 0 1.125rem; /* 18px */

    text-align: center;
  }
}

/*
  == SECTION ===================================================================
*/

section#contido
{
  position: relative;
  z-index: 2;

  padding: 1.875rem; /* 30px */

  background: #FFFFFF;

  border-radius: 1.125rem; /* 18px */
  -webkit-border-radius: 1.125rem; /* 18px */

  box-shadow: 0px 0px 1.125rem rgba(0, 0, 0, 0.6); /* 18px */
  -webkit-box-shadow: 0px 0px 1.125rem rgba(0, 0, 0, 0.6); ; /* 18px */
}

@media only screen and (min-width: 769px)
{  
  section#contido
  {
    height: 22.5rem; /* 360px */

    margin: 0 0 0 11.25rem; /* 180px */
  }

  section#contido iframe
  {
    height: 20.625rem; /* 330px */
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 361px)
{
  section#contido
  {
    height: 23.75rem; /* 380px */

    margin: 0;
  }

  section#contido iframe
  {
    height: 21.875rem; /* 350px */
    width: 100%;
  }
}

@media only screen and (max-width: 360px)
{
  section#contido
  {
    height: 21.875rem; /* 350px */

    margin: 0;
  }

  section#contido iframe
  {
    height: 20rem; /* 320px */
    width: 100%;
  }
}

/*
  == IFRAME ====================================================================
*/

div#iframe
{
  overflow-x: hidden;

  background: #FFFFFF;
}

div#iframe article .foto
{
  text-align: right;
}

div#iframe article h3
{
  padding-top: 0.9375rem; /* 15px */

  text-decoration: underline;
}

div#iframe article h4
{
  margin-bottom: 0.3125rem; /* 5px */
}

div#iframe article section
{
  padding-bottom: 1.25rem; /* 20px */ 
}

div#iframe article p
{
  margin-bottom: 0;

  padding-left: 0.625rem; /* 10px */ 
}

div#iframe article strong:after
{
  content: " ";
}

@media only screen and (min-width: 769px)
{  
  div#iframe article .foto
  {
    margin-top: -2.25rem; /* 32px*/
  }
  
  div#iframe article .foto img
  {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 361px)
{
  div#iframe article .foto
  {
    margin-top: -2.25rem; /* 32px*/
  }

  div#iframe article .foto img
  {
    width: 50%;
  }
}

@media only screen and (max-width: 360px)
{
  div#iframe article .foto
  {
    float: none;

    text-align: left;
  }

  div#iframe article .foto img
  {
    width: 30%;
  }
}

/*
  == MEDIA =====================================================================
*/

video
{
  height: 15rem; /* 240px */
  width: 20rem; /* 320px */
}

audio
{
  width: 20rem; /* 320px */
}

@media only screen and (max-width: 360px)
{
  video
  {
    height: 13.125rem; /* 210px */
    width: 17.5rem; /* 280px */
  }

  audio
  {
    width: 17.5rem; /* 280px */
  }
}

/*
  == FOOTER ====================================================================
*/

footer
{
  position: relative;
  z-index: 3;
  
  padding: 1.875rem; /* 30px */

  border: 0.0625rem solid #9999CC; /* 1px */

  color: #4D4C4C;

  background: #EEEEFF;

  border-radius: 1.125rem; /* 18px */
  -webkit-border-radius: 1.125rem; /* 18px */
}

footer p
{
  text-decoration: none;
  text-align: right;
}

footer img
{
  margin-right: 0.3125rem; /* 5px */
}

@media only screen and (min-width: 769px)
{
  footer
  {
    margin: 0.9375rem 0 0.9375rem 11.25rem; /* 15px 180px */
  }
}

@media only screen and (max-width: 768px)
{
  footer
  {
    margin: 0.9375rem 0 0.9375rem; /* 15px */
  }
}