/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { font: 14px Georgia, serif; }

#page-wrap { margin: 10px auto; color: white; }
#page-wrap > div { border: 1px solid #999; padding: 20px; margin-bottom: 5px; color: black; }
#header { background: #eee; text-align:center; font-size:20px}
#main-content { background: #eee; }
#secondary-one { background: #eee; text-align:center; }
#secondary-two { background: #eee;  }

nav {
	flex: 22%;
	margin-right: 1%;}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;}

nav a {
	background-color:#360;
	display: block;
	padding: 0.8em;
	text-decoration: none;
	color: #fff;}

nav a:hover {
	background-color: #ABABAB;
	border-right: 5px solid #FF7909;
	color: #FFF;}
	

html
{
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
  margin: 0;

  padding: 0;

  border: 0;

  outline:0;

  font: inherit;
  font-size: 100%;
  vertical-align: baseline;

  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu,
nav, section
{
  display: block;
}

body
{
  line-height: 1;
}

h1
{
  margin: 0.67rem 0;

  font-size: 2rem;
}

a
{
  background-color: transparent;
}

a:active, a:hover
{
  outline: 0;
}

img
{
  border: 0;
}

b, strong
{
  font-weight: bold;
}


ol, ul
{
  list-style: none;
}

blockquote, q
{
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after
{
  content: '';
  content: none;
}

table
{
  border-collapse: collapse;
  border-spacing: 0;
}

ins
{
  color: #000000;
  text-decoration: none;

  background-color: #FFFF99;
}

mark
{
  color: #000000;
  font-style: italic;
  font-weight: bold;

  background-color: #FFFF99;
}

del
{
  text-decoration: line-through;
}

abbr[title], dfn[title]
{
  border-bottom: 0.0625rem dotted;

  cursor: help;
}

dfn
{
  font-style: italic;
}

table
{
  border-collapse: collapse;
  border-spacing: 0;
}

td, th
{
  padding: 0;
}

hr
{
  display: block;

  height: 0.0625rem;

  margin: 1rem 0;

  padding: 0;

  border: 0;
  border-top: 0.0625rem solid #CCCCCC;

  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input, select
{
  vertical-align: middle;
}

small
{
  font-size: 80%;
}

sub, sup
{
  position: relative;

  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup
{
  top: -0.5rem;
}

sub
{
  bottom: -0.25rem;
}

code, kbd, pre, samp
{
  font-family: monospace, monospace;
  font-size: 1rem;
}

figure
{
  margin: 1rem 2.5rem;
}

pre
{
  overflow: auto;
}

audio, canvas, progress, video
{
  display: inline-block;

  vertical-align: baseline;
}

audio:not([controls])
{
  display: none;

  height: 0;
}

[hidden], template
{
  display: none;
}

svg:not(:root)
{
  overflow: hidden;
}


button, input, optgroup, select, textarea
{
  margin: 0;

  color: inherit;
  font: inherit;
}

button, select
{
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
{
  -webkit-appearance: button;
  cursor: pointer;
}

button
{
  overflow: visible;
}

button[disabled], html input[disabled]
{
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner
{
  padding: 0;

  border: 0;
}

input
{
  line-height: normal;
}

input[type="checkbox"], input[type="radio"]
{
  padding: 0;

  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
{
  height: auto;
}

input[type="search"]
{
  -webkit-appearance: textfield;

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
{
  -webkit-appearance: none;
}

fieldset
{
  margin: 0 0.125rem;

  padding: 0.35rem 0.625rem 0.75rem;

  border: 0.0625rem solid #C0C0C0;
}

legend
{
  padding: 0;

  border: 0;
}

textarea
{
  overflow: auto;
}

optgroup
{
  font-weight: bold;
}


@font-face
{
  font-family: Nimbus Sans L;
  src: url('../fonts/Nimbus_Sans_L_Regular.eot');
  src: local('Nimbus Sans L'),
    url('../fonts/Nimbus_Sans_L_Regular.eot') format('embedded-opentype'),
    url('../fonts/Nimbus_Sans_L_Regular.woff') format('woff'),
    url('../fonts/Nimbus_Sans_L_Regular.ttf') format('truetype'),
    url('../fonts/Nimbus_Sans_L_Regular.otf') format('opentype'),
    url('../fonts/Nimbus_Sans_L_Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face
{
  font-family: linecons;
  src: url('../fonts/linecons_Regular.eot');
  src: local('linecons'),
    url('../fonts/linecons_Regular.eot') format('embedded-opentype'),
    url('../fonts/linecons_Regular.woff') format('woff'),
    url('../fonts/linecons_Regular.ttf') format('truetype'),
    url('../fonts/linecons_Regular.otf') format('opentype'),
    url('../fonts/linecons_Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before
{
  display: inline-block;

  width: 1rem; /* 16px */

  margin: 0.625rem; /* 10px */

  font-family: 'linecons', sans-serif;
  font-size: 1.5rem; /* 24px */ 
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1rem;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(127, 127, 127, 0.3); /* 1px */
}

.icon-music:before { content: '\e022'; }
.icon-search:before { content: '\e009'; }
.icon-mail:before { content: '\e019'; }
.icon-heart:before { content: '\e000'; }
.icon-star:before { content: '\e002'; }
.icon-user:before { content: '\e007'; }
.icon-videocam:before { content: '\e005'; }
.icon-camera:before { content: '\e00b'; }
.icon-photo:before { content: '\e01b'; }
.icon-attach:before { content: '\e029'; }
.icon-lock:before { content: '\e00d'; }
.icon-eye:before { content: '\e013'; }
.icon-tag:before { content: '\e00c'; }
.icon-thumbs-up:before { content: '\e01a'; }
.icon-pencil:before { content: '\e00f'; }
.icon-comment:before { content: '\e014'; }
.icon-location:before { content: '\e012'; }
.icon-cup:before { content: '\e016'; }
.icon-trash:before { content: '\e006'; }
.icon-doc:before { content: '\e018'; }
.icon-note:before { content: '\e01c'; }
.icon-cog:before { content: '\e00a'; }
.icon-params:before { content: '\e01f'; }
.icon-calendar:before { content: '\e02b'; }
.icon-sound:before { content: '\e004'; }
.icon-clock:before { content: '\e01d'; }
.icon-lightbulb:before { content: '\e00e'; }
.icon-tv:before { content: '\e003'; }
.icon-desktop:before { content: '\e011'; }
.icon-mobile:before { content: '\e017'; }
.icon-cd:before { content: '\e02d'; }
.icon-inbox:before { content: '\e015'; }
.icon-globe:before { content: '\e02f'; }
.icon-cloud:before { content: '\e001'; }
.icon-paper-plane:before { content: '\e01e'; }
.icon-fire:before { content: '\e028'; }
.icon-graduation-cap:before { content: '\e024'; }
.icon-megaphone:before { content: '\e023'; }
.icon-database:before { content: '\e021'; }
.icon-key:before { content: '\e008'; }
.icon-beaker:before { content: '\e025'; }
.icon-truck:before { content: '\e02e'; }
.icon-money:before { content: '\e020'; }
.icon-food:before { content: '\e026'; }
.icon-shop:before { content: '\e02a'; }
.icon-diamond:before { content: '\e010'; }
.icon-t-shirt:before { content: '\e027'; }
.icon-wallet:before { content: '\e02c'; }

/*
  == HTML ======================================================================
*/

html
{
  overflow-y: scroll;

  font-size: 16px;
}

body
{
  color: #4d4c4c;
  font-family: Nimbus Sans L, sans-serif;
  font-size: 0.75rem; /* 14px */
  font-weight: normal;

  background-image: url("../images/ca_background_blue.jpg");
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-color: #FFFFFF;
}

a
{
  text-decoration: none;
  color: #884488;

  background-color: inherit;
}

h1, h2, h3, h4, h5, h6
{
  margin: 0 0 0.9375rem 0; /* 15px */ 

  color: #336699;
  font-weight: bold;
  letter-spacing: -0.0625rem; /* -1px */
}

h1
{
  font-size: 2rem; /* 32px */
}

h2
{
  font-size: 1.5rem; /* 24px */
}

h3
{
  font-size: 1.25rem; /* 20px */
}
h4
{
  font-size: 1rem; /* 16px */
}

p
{
  margin: 0 0 0.9375rem 0; /* 15px */ 

  line-height: 1.5;
}

.esquerda
{
  float: left
}

.dereita
{
  float: right;
}

.clear
{
  clear: both;
}

