body{
    background: #456789;
    color: #456789;
    margin: 0;
}

#reloj{
    margin-top: 200px;
    background: white;
    padding: 75px 0;
    font-size: 60px;
    text-align: center;
    font-family: 'Vollkorn', serif;
}

.val {
    display: inline-block;
    width: 70px;
}

.milis {
    width: 95px;
}
