    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: white;
    }

    #vector {
        height: 100%;
        width: 100%;
    }
