/***************************************************
********************        ***********************
******************** HEADER ***********************
********************        ***********************
***************************************************/

/* Hacemos la tipografía más pequeña para que cuadre todo mejor */

header h1{
    font-size: 70px;
    padding-bottom: 10px;
}

header h2{
    font-size: 18px;
    letter-spacing: 12px;
}

/***************************************************
*******************           **********************
*******************  GALERIA  **********************
*******************           **********************
***************************************************/

/* Hacemos los títulos más pequeños para que se adapten al nuevo ancho */

#galeria h2, #CV h2{
    font-size: 29px;
}


/***************************************************
*******************           **********************
*******************    C V    **********************
*******************           **********************
***************************************************/

/* Eliminamos las dos columnas del texto y centramos el texto */

#CV h2{
    text-align: center;
}

#textoCV {
    -moz-column-count: 1;
    -webkit-column-count: 1;
}

#textoCV ul{
    margin-bottom: 20px;
}
